body{
    background: #bdc3c7;  /* fallback for old browsers */
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

.wd-radio{
    padding-right: 5px;
}

.wd-inputRadio{
    padding-right: 2px;
}

.ht-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: white;

}

.ht-centered-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;

}


.jumbo-image-add-meal {
    background-image: url(https://source.unsplash.com/5PRQsEGkE10/1800x300);
    height: 300px;
    margin-bottom: 50px;
}