.heading {
    color: forestgreen;
}

.image-meal {
    border: 5px solid forestgreen;
    width: 500px;
    height: 400px;
}


@media only screen and (max-width: 600px) {
    .image-meal {
        border: 5px solid forestgreen;
        width: 100% !important;
    }
}



.savelink {
    font-size: 27px;
    color: blue !important;
}

.color-green {
    color: forestgreen;
}