.center {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
  }
  
  .card > form {
    display: flex;
    flex-direction: column;
  }
  
  .card h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .form-item {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 50px;
    width: 20rem;
    border: 1px solid grey;
  }
  
  .form-submit {
    font-family: 'Raleway', sans-serif;
    height: 50px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
  }
  
  .wd-margin {
      margin-top: 5px;
  }


  @media only screen and (max-width: 600px) {
    .hide-mobile {
      display: none;
    }
  }
  
  .ht-centered-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    padding-top: 30px;

}

.jumbo-image-login {
  background-image: url(https://source.unsplash.com/1Shk_PkNkNw/1800x300);
  height: 200px;
  margin-bottom: 50px;
}